extends include/layout

block title
    title Owner

block main 
    h1 My Wiki
    br
    br
    h1 Name: Alecio Filipe Eniasse Furanze
    br
    h2 Nick name: AlecioDr, AlecioFEF, 4lecio, 44lecio
    br
    h1 Data: 18/06/2003
    br
    h1 Height: 1.64cm
    br
    h1 Contry: Mozambique
    br
    h1 Birth: Chimoio
    br
    h1 Github: 
        a(href="https://github.com/AlecioFuranze") Here
    br
    h1 Instagram: 
        a(href="https://instagram.com/AlecioFuranze") Here
    br
    h1 Instagram: 
        a(href="https://instagram.com/AlecioDr") Here
    br
    h1 Twitter: 
        a(href="https://twitter.com/AlecioFuranze") Here