footer#footer
    main
        div.footer-content
            h1 company
            span.footer-bottom-bar
            a(href="/owner") owner 
            a(href="/license") license 
            a(href="/about-us") about us
            a(href="/our-services") our services 

        div.footer-content
            h1 get help
            span.footer-bottom-bar
            a(href="/faq") FAQ 
            a(href="/support") support 
            a(href="/payment-options") payment options 

        div.footer-content
            h1 relevant link
            span.footer-bottom-bar
            a(href="/blog") blog 
            a(href="https://github.com/zeloot/") github 
            a(href="#") trello

        div.footer-content
            h1 follow us
            span.footer-bottom-bar
            a(href="https://facebook.com/byzeloot/") facebook 
            a(href="#") youtube 
            a(href="https://twitter.com/byzeloot/") twitter 
            a(href="https://instagram.com/byzeloot/") instagram 
    p &copy; 2022 by zeloot (Alecio Furanze). All rights reserved.

        