header(id="header")
    main
        div(id="header-main-logo")
            a(href="/")= ""
                img(src="img/zeloot_white.png", alt="zeloot logo")
            

        div(id="header-main-content")
            a(href="/store")= "Store"
            a(href="/games")= "Games"
            a(href="/login")= "Login"